* {
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: 'blanch';
    src: url('fonts/blanch.eot');
    src: url('fonts/blanch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksand-regular';
    src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.woff') format('woff');
    src: url('fonts/quicksand-regular-webfont.svg') format('svg');
    src: url('fonts/quicksand-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksand-bold';
    src: url('fonts/quicksand-bold-webfont.eot');
    src: url('fonts/quicksand-bold-webfont.woff') format('woff');
    src: url('fonts/quicksand-bold-webfont.svg') format('svg');
    src: url('fonts/quicksand-bold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body {
  color: #000000;
  background-size: 100%;
  font-size:16px;
  opacity: 0.9;
  text-align: center;
}
#hour, #time2 {
  font-family: 'blanch', sans-serif;
  font-size: 280%;
  top:-10px;
  padding-top: 4px;

}
#minute {
  font-family: 'blanch', sans-serif;
  font-size: 120%;
  top:-2px;
  padding-bottom: 3px;
  position: relative;
  top: -1px;

}
#dotw {
  font-family: 'blanch', sans-serif;
  text-transform: uppercase;
  font-size: 180%;
  margin-top: 3px;
  border-top: 1px solid rgba(0, 0, 0, .7);
  padding: 3px;
}
#todaysDate {
  font-family: 'blanch', sans-serif;
  font-size: 100%;
  margin-top: 1px;
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, .7);
  border-spacing: 0 2px 0 0;
}
#container {
  width:120px;
  height:500px;
  margin: auto;
  padding: 10px 0 0 0;
  position: relative;
  left: 2px;
}
#containerCeption {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top:-313px;
  left:-4px;
  padding: 120px 0 0 0;
}
#BatteryImage {
  margin-left: -61px;
  max-height: 250;
  max-width: 235;
}
